html {
    background-color: rgb(26, 29, 41);
    font-family: avenir;
    font-weight: bold;
    color: white;
}

.altLogInLink {
    display: flex;
    justify-content: flex-end;
    top: 50px;
    position: absolute;
    right: 100px;
    color: rgb(172, 172, 172);
    text-decoration: none;
    font-size: 20px;
}

.altLogInLink:hover {
    transition: color 0.3s ease;
    color: rgb(222, 220, 220);
}

.logo {
    position: relative;
    top: 50px;
    left: 45%;
    width: 225px;
}

.form {
    position: relative;
    top: 50px;
    left: 40%;
    width: 460px;
    height: 500px;
}

.form__label {
    font-size: 32px;
    font-weight: 500;
}

.form__submit {
    color: rgb(249, 249, 249);
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-stretch: normal;
    font-style: normal;
    height: 60px;
    justify-content: center;
    letter-spacing: 1.5px;
    line-height: 1.5;
    text-align: center;
    width: 105.5%;
    opacity: 1;
    background: rgb(0, 114, 210);
    border-style: none;
    border-radius: 4px;
    padding: 0px 24px;
    overflow: hidden;
    transition: all 0.2s ease-in-out 0s;
}

.form__submit:hover {
    transition: background-color 0.5s ease;
    background-color:  rgb(28, 149, 255);
}

.form__altSignUp {
    display: flex;
    color: rgb(172, 172, 172);
    font-weight: 100;
    font-size: 20px;
}

.form__altSignUpLink {
    color: white;
    text-decoration: none;
}

.form__altSignUpLink:hover {
    color: rgb(107, 184, 252);
    text-decoration: underline;
}

input {
    backdrop-filter: blur(50px);
    background-color: rgb(49, 52, 62);
    caret-color: rgb(2, 231, 245);
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: lighter;
    color: white;
    height: 48px;
    letter-spacing: normal;
    line-height: 1.53;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
    margin: 0px;
    outline: none;
    padding: 7px 12px;
    transition: all 0.1s ease 0s;
    margin-bottom: 40px;
}

input:focus {
    border-color: rgb(125, 124, 124);
}

ul {
    list-style-type: none;
    color: rgb(177, 64, 64);
    padding-left: 10px;
}