* {
    padding: 0%;
    margin: 0%;
}
.whoMadeMe {
    background-color: rgb(9, 11, 19);
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    width: 100%;
    font-size: 24px;
}
.fa-fw {
    font-size: 25px;
}
i {
    padding: 5px;
}
.fab:hover{
    background-color: lime;
    border-radius: 5px;
}
.nav {
    position: fixed;
    display: flex;
    align-items: center;
    height: 72px;
    background-color: rgb(9, 11, 19);
    width: 100%;
    padding-left: 8px;
    z-index: 1;
}

.nav__button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    align-self: center;
    width: auto;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px;
}

i {
    font-size: 14px;
    color: white;
    position: relative;
}

.nav__link {
    padding-left: 12px;
    color: white;
    font-size: 13px;
    font-family: avenir;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
}

.nav__logo {
    visibility: hidden;
    position: absolute;
}

#dizneyLogo{
    position: relative;
    width: 72px;
    height: auto;
    padding-right: 18px;
}

.nav__dropdown {
    color: white;
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-top: auto;
}

.profile_list {
    list-style: none;
    font-size: 16px;
    font-family: avenir;
}

.logoutButton {

}

.activeProfile {
    width: 96px;
    font-size: 13px;
    font-family: avenir;
}

.avatarImg {
    width: 96px;
    font-size: 13px;
    font-family: avenir;
}