body {
    background-color: #191c28;
    overflow: hidden;
}
.featured, .movies {
    display: flex;
    position: absolute;
    max-width: 8250px;
    transform: translateX(0px);
    top: 100px;
}
.series {
    display: flex;
    position: absolute;
    max-width: 8250px;
    transform: translateX(0px);
    top: 300px
}
.videoDisplayImg {
    margin: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 531px;
    max-height: 283px;
    position: relative;
}
.videoDisplayImg:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px, rgba(0, 0, 0, 0.72) 0px 30px 22px -10px;
    transform: scale(1.05) translateZ(0px) translate3d(0px, 0px, 0px);
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    border: 3px solid white;
}
img {
    width: 525px;
    height: 275px;
}
.right {
    position: relative;
    top: 107px;
    width: 184px;
    height: 275px;;
    left: 90%;
    z-index: 3;
}
.left {
    position: relative;
    top: -160px;
    width: 184px;
    height: 275px;;
    left: 0%;
    z-index: 3;
    opacity: 25%;
}
i {
    position: relative;
    top: 95px;
    left: 60px;
    color: gray;
}

.right:hover, .left:hover {
    transform: scale(1.5);
    transition-timing-function: ease-out;
    opacity: 100%;
}