* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(26, 29, 41);
}

p {
  font-family: avenir;
  font-size: 25px;
  color: white;
  letter-spacing: 0.5px;
}

#bgImg {
  position: fixed;
  display: block;
  width: 100%;
  z-index: -1;
}

#titleImg {
  position: absolute;
  width: 30%;
  left: 125px;
  top: 30%;
}

/* .gradient {
  z-index: 1;
  position: fixed;
  display: flex;
  height: 800px;
  width: 100%;
  /* background-size: cover; */
  /* background-image: linear-gradient(to bottom, rgba(26, 29, 41, 0.0), rgba(26, 29, 41, 0.0))
} */

.content {
  position: absolute;
  top: 70%;
  left: 125px;
  width: 45%;
  margin-bottom: 200px; 
}

.content__playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 75px;
  border-radius: 6px;
  background-color: white;
  color: black;
  margin-bottom: 20px;
}

.content__playButton:hover {
  transition: background-color 0.5s ease;
  background-color: rgb(210, 210, 210);
}

.fa-play {
  padding-right: 20px;
  color: black;
  font-size: 22px;
}

.content__playText {
  font-size: 20px;
  font-weight: 700;
  color: black;
  letter-spacing: 2px;
  font-weight: 500;
}

div.content__videoInfo {
  display: flex;
  flex-direction: row;
  padding: 20px;
  font-size: 20px;
  font-weight: 0;
  background-color: rgba(0, 0, 0, 0.33);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.videoInfo__property {
  align-self: flex-start;
}

p.videoInfo__property {
  font-size: 20px;
  font-weight: lighter;
}

.content__description {
  display: flex;
  padding: 20px;
  line-height: 30pt;
  /* background-color: rgba(0, 0, 0, 0.33); */
  background-image: linear-gradient( rgba(0,0,0,0.33), rgba(0,0,0,0));
  height: 400px;
}

.bar {
  position: absolute;
  padding-left: 125px;
  padding-right: 125px;
  width: 90%;
  top: 96%;
}

.tabs {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.tab {
  align-self: flex-start;
  padding-right: 125px;
}

a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
}

a.bar__tabs {
  color: rgb(172, 172, 172);
}

a.bar__tabs:hover {
  transition: color 0.3s ease;
  transition: font-weight 0.3s ease;
  transition: text-shadow 0.3s ease;
  color: rgb(215, 215, 215);
  font-weight: 400;
  text-shadow: 1px 1px 1px rgb(92, 92, 92);
}

a.bar__tabs:focus {
  color: white;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgb(92, 92, 92);
}

.bar__tabs:not(a) {
  padding-bottom: 22px;
  margin-bottom: 40px;
  border-bottom: 2pt solid rgb(172, 172, 172);
}

.tabContent {
  display: none;
}

.tabContent#suggested.bar__tabs--active {
  display: block;
}



.tabContent#details.bar__tabs--active {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "title duration director"
    "details year starring"
    "details genre starring"
    "details rating starring"
    "details . starring"
    "details . starring"
    "details . starring"
    "details . starring"
    "details . starring";
}

p.detailsColTwo__durationHead,
p.detailsColTwo__seasonsHead,
p.detailsColTwo__yearHead,
p.detailsColTwo__genresHead,
p.detailsColTwo__ratingHead,
p.detailsColThree__directorHead,
p.detailsColThree__starringHead {
  font-size: 18px;
  color: rgb(172, 172, 172);
  padding-bottom: 10px;
}

p.detailsColTwo__durationText,
p.detailsColTwo__seasonsText,
p.detailsColTwo__yearText,
p.detailsColTwo__genresText,
p.detailsColThree__directorText,
p.detailsColThree__starringText {
  font-size: 18px;
  padding-bottom: 20px;
}

div.detailsColOne {
  padding-right: 40px;
}

p.detailsColOne__title {
  grid-area: title;
  padding-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
  
}

p.detailsColOne__details {
  grid-area: details;
  font-weight: 200;
  line-height: 35px;
}

p.detailsColTwo__duration {
  grid-area: duration;
}

p.detailsColTwo__seasons {
  grid-area: seasons;
}

p.detailsColTwo__year {
  grid-area: year;
}

p.detailsColTwo__genres {
  grid-area: genres;
}

p.detailsColTwo__rating {
  grid-area: rating;
}

p.detailsColThree__director {
  grid-area: director;
}

p.detailsColThree__starring {
  grid-area: starring;
}

.suggested {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.suggested__video {
  height: 240px;
  padding: 10px 10px 10px 10px;
  
}

.suggestedVideoImg {
  width: 350px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 29px -8px, rgba(0, 0, 0, 0.72) 0px 15px 11px -5px;
}

.suggestedVideoImg:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px, rgba(0, 0, 0, 0.72) 0px 30px 22px -10px;
    transform: scale(1.05) translateZ(0px) translate3d(0px, 0px, 0px);
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    border: 3px solid white;
}