.bgimg {
    position: relative;
}
.logInButtons {
    display: flex;
    justify-content: flex-end;
    top: 5px;
    position: absolute;
    right: 0%;
}
#demoLogIn, #logIn {
    background-color: rgba(0,0,0,.5);
    color: white;
    margin: 5px;
    border-style: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

#demoLogIn:hover, #logIn:hover {
    background-color: white;
    color: black;
}

.contentMain {
    position: absolute;
    top: 135px;
    left: 40px;
}
#signUp {
    width: 540px;
    height: 60px;
    background-color: #0072d2;
    color: #f9ece9;
    font-size: 16px;
    letter-spacing: 1.5px;
    border-style: none;
    border-radius: 5px;
}
#backgroundimg {
    width: 100%;
}
#logosImg {
    margin-bottom: 15px;
}
#text {
    text-align: center;
    max-width: 540px;
    font-size: 11px;
    line-height: 1.75;
    color: #7d8389;
}
html {
    background-color:#040813;
    
}
#signUpLink, #price {
    text-align: center;
    display: inherit;
}
#signUpLink {
    margin-top: 25px;
    font-size: 20px;
    color: #f9ece9;
}
#price {
    margin-top: 3px;
    font-size: 22px;
    color: #7d8389;
}
#brandsImg {
    max-width: 540px;
    margin-top: 25px;
}