//- for fake cc info
extends account-layout.pug

include utils.pug

block content
    //- there are kooky buttons here that do stuff
    //- h2 Start streaming today
    //- h6 Endless streaming stories for just $6.99/month.account
    //- form(action='/home' method='get')
