extends account-layout.pug

include utils.pug

block content
    div.form
        form(action='/account/login' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            p.form__label Enter your email
            +field('email', email, 'text', 'Email')
            p.form__label Enter your password
            +field('password', null, 'password', 'Password')
            button.form__submit(type='submit') Login
            +validationErrorSummary(errors)
        div.form__altSignUp
            p New to Dizney+?&nbsp;
            p: a.form__altSignUpLink(href='/account/sign-up') Sign up
