script(src="https://kit.fontawesome.com/563691f269.js" crossorigin="anonymous")
footer
    .whoMadMe
        .brandon
            li Brandon Held
                a(href="https://www.linkedin.com/in/brandon-held12")
                    <i class="fab fa-linkedin fa-3x"></i>
        .conrad
            li Conrad Orta
        .doug
            li Dong Hyuk Kim
        .robert
            li Robert Estrada