doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../style/landingPage.css
    body
        div.signUpButtons
            div
                button#demoLogIn(type="post") DEMO LOG IN
            div
                button#logIn(type="post") LOG IN
        div.logo
            img(src="https://cannonball-cdn.bamgrid.com/assets/originals/bundle-logo-01.svg")