doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dizney+
    body
        div.buttons
            div#logIn
                button(type="post") LOG IN
            div#demoLogIn
                button(type="post") DEMO LOG IN