doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='icon' href='https://dizneyplus.s3.us-east-2.amazonaws.com/images/disneyPlusRips/favicon.ico' type='image/x-icon')
        script(src="https://kit.fontawesome.com/563691f269.js" crossorigin="anonymous")
        script(src='/scripts/homeNavButtons.js'  type ='text/javascript')
        style
            include ../public/style/navBar.css
            include ../public/style/reset.css

        block head
    body
        //- .whoMadeMe
        //-     .brandon
        //-         li Brandon Held
        //-             a(href="https://www.linkedin.com/in/brandon-held12/")
        //-                 <i class="fab fa-linkedin fa-fw"></i>
        //-             a(href="https://github.com/brandonheld")
        //-                 <i class="fab fa-github fa-fw"></i>
        //-     .conrad
        //-         li Conrad Orta
        //-             a(href="https://www.linkedin.com/in/conrad-orta-16598014/")
        //-                 <i class="fab fa-linkedin fa-fw"></i>
        //-             a(href="https://github.com/COrtaDev")
        //-                 <i class="fab fa-github fa-fw"></i>
        //-     .doug
        //-         li Dong Hyuk Kim
        //-             a(href="https://www.linkedin.com/dong-hyuk-kim")
        //-                 <i class="fab fa-linkedin fa-fw"></i>
        //-             a(href="https://github.com/kimd345")
        //-                 <i class="fab fa-github fa-fw"></i>
        //-     .robert
        //-         li Robert Estrada
        //-             a(href="https://www.linkedin.com/in/robertmestrada/")
        //-                 <i class="fab fa-linkedin fa-fw"></i>
        //-             a(href="https://github.com/robertestrada")
        //-                 <i class="fab fa-github fa-fw"></i>
        div.nav
            div(data-route= "home").nav__button
                img.nav__link#dizneyLogo(src="https://dizneyplus.s3.us-east-2.amazonaws.com/images/disneyPlusRips/dizneylogoWHT.png")
            div(data-route= "home").nav__button
                i.fa.fa-home.fa-fw(aria-hidden="true")
                label.nav__link HOME
            div(data-route= "search").nav__button
                i.fa.fa-search.fa-fw(aria-hidden="true")
                label.nav__link SEARCH
            div(data-route= "originals").nav__button
                i.fa.fa-star.fa-fw(aria-hidden="true")
                label.nav__link ORIGINALS
            div(data-route= "movies").nav__button
                i.fa.fa-film.fa-fw(aria-hidden="true")
                label.nav__link MOVIES
            div(data-route= "series").nav__button
                i.fa.fa-television.fa-fw(aria-hidden="true")
                label.nav__link SERIES
            div.nav__dropdown
                ul
                    li
                        div
                            img.avatarImg.activeProfile(src=`${profile1.Avatar.avatarImg}`)
                            label= profile1.name
                ul
                    each profile in profiles
                        li
                            img.avatarImg(src=`${profile.Avatar.avatarImg}`)
                            div(data-profile= `active#{profile.id}`)= profile.name
                    li
                        div(data-route= "profiles/select-avatar")
                            label Add New Profile
                    li
                        div(data-route= "profiles/edit-profile")
                            label Edit Profiles
                    li
                        form(action="/account/logout" method='POST')
                            div(type="submit").logoutButton
                                label Log Out
    block content
