doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../public/style/navBar.css
        title Disney+ | Movies and Shows
    body
        //- div#background
        .bgimg
            img#backgroundimg(src="https://prod-static.disney-plus.net/us-east-1/builds/04d47001a1cd5fb6323787be372ca527c1841758_1594068400312/node_modules/dss-junglebook/components/themes/images/background.png")
        div.nav
            div.nav__routes
                button.nav__button
                    img#dizneyLogo(src="https://prod-static.disney-plus.net/us-east-1/builds/04d47001a1cd5fb6323787be372ca527c1841758_1594068400312/images/logo.svg")
                    
                button.nav__button HOME
                button.nav__button SEARCH
                button.nav__button WATCHLIST
                button.nav__button ORIGINALS
                button.nav__button MOVIES
                button.nav__button SERIES
            //- div
            //-     ul 
            //-         li Dundo
                    //- each profile in profiles
                    //-     li= profile.name
                    //- li Add New Profile
                    //- li Edit Profiles
                    //- li App Settings
                    //- li Account
                    //- li Help
                    //- li Log Out
                    

block content