doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='icon' href='https://dizneyplus.s3.us-east-2.amazonaws.com/images/disneyPlusRips/favicon.ico' type='image/x-icon')
        style
            include ../public/style/navBar.css
        title Disney+ | Movies and Shows
    body
        //- img#backgroundimg(src="https://dizneyplus.s3.us-east-2.amazonaws.com/images/disneyPlusRips/background.png")
        div.nav
            div.nav__routes
                button.nav__button
                    img#dizneyLogo(src="https://dizneyplus.s3.us-east-2.amazonaws.com/images/disneyPlusRips/dizneylogoWHT.png")
                    
                a(class='nav__button' href=`/home` role='button') HOME
                a(class='nav__button' href=`/search` role='button').nav__button SEARCH
                //- button.nav__button WATCHLIST
                a(class='nav__button' href=`/originals` role='button').nav__button ORIGINALS
                a(class='nav__button' href=`/movies` role='button').nav__button MOVIES
                a(class='nav__button' href=`/series` role='button').nav__button SERIES
            //- div
            //-     ul 
            //-         li Dundo
                    //- each profile in profiles
                    //-     li= profile.name
                    //- li Add New Profile
                    //- li Edit Profiles
                    //- li App Settings
                    //- li Account
                    //- li Help
                    //- li Log Out
                    

block content