doctype html
head
    title Login | Dizney+
body
    form(method="post" action="/login")
        input(type="hidden" name= "_csrf" value=token)
        div
            label Log in with your email
            input(type="text" required)
        div
            button(type="submit") Submit