//- extends layout.pug
style
    include ../style/movieTab.css
block content
    .topBlock
        h1 Movies
        select(name="type" required)
            each val in ['Featured' , 'ALL MOVIES A-Z' , 'ACTION/ADVENTURE']
                .test
                    option=val
