//- extends layout.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src='/scripts/dropDown.js'  type ='text/javascript')
        style
            include ../public/style/movieTab.css
    body    
        block content
            .topBlock
                h1 Movies
                .wrapper.dropDown
                    .select_wrap.dropDown
                        ul.default_option.dropDown
                            li
                                .dropDown
                                    p#displayChoice Featured
                        ul.select_ul.is-hidden.dropDown
                            each val in ['Featured', 'Comedy', 'Action', 'Adventure', 'Family']
                                li= val
            .mainContent
                each video in videos
                    a(href=`/video/${video.title}`)= video.title