extends layout.pug

block head
    title Disney+ | Movies and Shows
    script(src='/scripts/dropDown.js'  type ='text/javascript')
    style
        include ../public/style/movieTab.css
block content
    .topBlock
        h1 Movies
        .wrapper.dropDown
            .select_wrap.dropDown
                ul.default_option.dropDown
                    li
                        .dropDown
                            p#displayChoice Featured
                ul.select_ul.is-hidden.dropDown
                    each val in ['Featured', 'Comedy', 'Action', 'Adventure', 'Family']
                        li= val
    .mainContent
        each video in videos
            .videoDisplayImg
                a(href=`/video/${video.title}`): img(src=`${video.buttonImg}`) 