//- extends layout.pug
style
    include ../style/movieTab.css
block content
    .topBlock
        h1 Movies
        .wrapper.dropDown
            .select_wrap.dropDown
                ul.default_option.dropDown
                    li
                        .dropDown
                            p Featured
                ul.select_ul.dropDown
                    li
                        p Featured
                    li
                        p All Movies A-Z
                    li
                        p Action/Adventure
                