doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='icon' href='https://dizneyplus.s3.us-east-2.amazonaws.com/images/disneyPlusRips/favicon.ico' type='image/x-icon')
    script(src="https://kit.fontawesome.com/563691f269.js" crossorigin="anonymous")
    script(src='/scripts/patch-profile.js'  type ='text/javascript')
    script(src='/scripts/edit-selected-profile.js'  type ='text/javascript')
    style
      include ../public/style/profiles.css
      include ../public/style/isKid-button.css
    title #{title} | Dizney+
  body
    div.editMenu
      div.addMenu_left
        form.profile-name
          p.addMenu_label Edit Profile
          div.addMenu_left--form
            input(type="text" name='name' value=`${profile.name}` placeholder='Profile name' required)
            label.toggle-control
              input(type='checkbox' name='isKid' checked='checked')
              span.control
            input.editMenu_submit(type='submit' value="SAVE")
            p: a.delete(href='/profiles/delete/:id') Delete Profile
      div.right
        img.avatar(data-id=`${profile.Avatar.id}` src=`${profile.Avatar.avatarImg}`)
