doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='icon' href='https://dizneyplus.s3.us-east-2.amazonaws.com/images/disneyPlusRips/favicon.ico' type='image/x-icon')
    script(src="https://kit.fontawesome.com/563691f269.js" crossorigin="anonymous")
    script(src='/scripts/select-avatar.js'  type ='text/javascript')
    style
      include ../public/style/profiles.css
      include ../public/style/isKid-button.css
    title #{title} | Dizney+
  body
    div.addMenu
      div.addMenu_left
        form.add-profile
          p.addMenu_label Add Profile
          div
          input(type="text" name='name' value='' placeholder='Profile name' required)
          label.toggle-control
            input(type='checkbox' name='isKid' checked='checked')
            span.control
          input.addMenu_left(type='submit' value="SAVE")
      div.right
         img#newAvatar(src="")
