extends layout.pug
block head
    script(src='/scripts/seriesDropdown.js'  type ='text/javascript')
    style
<<<<<<< HEAD
        include ../public/style/movies-series.css    
=======
        include ../public/style/movies-series.css

>>>>>>> 19c6a17f278600630a9f78ff1702dc7a6d6d3abe
block content
    .topBlock
        h1 Series
        .wrapper.dropDown
            .select_wrap.dropDown
                ul.default_option.dropDown
                    li
                        .dropDown
                            p#displayChoice Featured
                ul.select_ul.is-hidden.dropDown
                    each val in ['Featured', 'Comedy', 'Action', 'Adventure', 'Family']
                        li= val
    .mainContent
        each video in videos
            .videoDisplayImg
                a(href=`/video/${video.title}`): img(src=`${video.buttonImg}`) 